.login {
  &-image {
    &:before {
      content: '';
      background-color: #000;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0.4;
    }

    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/dlp5ey53k/image/upload/v1706141951/dali-center/welcome_rh2xnz.jpg')
  }
}